<div *ngIf="!isStudent" style="margin: 1vh 1vw 1vh 1vw; width: 98vw; height: 98vh; background-color: white; overflow-y:scroll">
    <div #def>
        <video *ngFor="let user of listUser;index as i" class="vid" [srcObject]="user.stream" autoplay></video>
    </div>
</div>
<div *ngIf="isStudent" style="overflow: hidden; margin: 5% 15% 5% 15%;  background-color: white;">
    <div style="text-align: center;">
        <video #def class="v" [srcObject]="currentStream" autoplay></video>
    </div>
</div>