<div style="text-align: center; width: 100%; overflow: hidden;">
    <h1 class="heading">&#60;Manual&#62; <span style="color: white;">Proctoring</span></h1>
    <div *ngIf="!isStudent">
        <button class="gen" (click)="generate()">Generate UUIDV4</button>
        <div *ngIf="id">
            <p class="id">Your UUID is : <u style="color: orange;">{{id}}</u>
                <br> Share this id with the students
            </p>
        </div>
    </div>
    <div *ngIf="isStudent">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <div style="text-align: center;">
            <input [(ngModel)]="uuid" type="text" class="form__input" id="name" placeholder="Enter UUID" required="" />
            <label for="name" class="form__label">Enter UUIDV4</label>
        </div>
    </div>
    <div class="buttons">
        <button (click)="join()" class="blob-btn">
                  Join Meeting
                  <span class="blob-btn__inner">
                    <span class="blob-btn__blobs">
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                      <span class="blob-btn__blob"></span>
                    </span>
                  </span>
                </button>



    </div>
</div>
<div style="text-align: center;">
    <p style="font-size: 20px;">Live Meetings</p>
    <button class="bt" (click)="next(p)" *ngFor="let p of list">{{p[0]}}</button>

</div>