<div style="color: orange; text-align: center; font-size: 26px;">
    <span>Add Students, Teachers, admins</span>
</div>
<br>
<div style="text-align: center;">
    <button style="color: black; margin-bottom: 1%; margin-right: 2%;" (click)=openModal(templatenew)>Register User</button>
    <button style="color: black; margin-bottom: 1%; margin-right: 2%;" (click)=openMo(courses)>Register Course</button>

</div>
<ng-template #templatenew>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add User</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #data class="modal-body">
        <label for="fname">Name</label>
        <input [(ngModel)]="user.name" type="text" id="fname" name="firstname" placeholder="name..">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" type="text" id="email" name="email" placeholder="email..">
        <label for="id">ID</label>
        <input [(ngModel)]="user.sid_tid" type="text" id="id" name="id" placeholder="ID..">
        <label for="access">Access</label>
        <select [(ngModel)]="user.access" id="access" name="access">
              <option value="student">student</option>
              <option value="teacher">teacher</option>
              <option value="admin">admin</option>
        </select>
        <label for="courses">Courses</label>
        <input [(ngModel)]="user.courses" type="text" id="courses" name="courses" placeholder="Comma Separated course IDs">

        <input type="submit" (click)="addUser(); modalRef.hide() " value="Submit">


    </div>
</ng-template>

<ng-template #courses>
    <p>{{course.name}}</p>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add Course</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="courseRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div #co class="modal-body">
        <label for="name">Name</label>
        <input [(ngModel)]="course.course_name" type="text" id="name" name="name" placeholder="name..">
        <label for="id">Course Id</label>
        <input [(ngModel)]="course.courseId" type="text" id="id" name="id" placeholder="courseId..">
        <input type="submit" (click)="addCourse(); courseRef.hide() " value="Submit">
    </div>
</ng-template>

<p style="margin-left:5% ; margin-right: 5%; font-size: 14px;">Upload a csv file with following columns - name, email, role(student, teacher, admin), sid/tid, courses (comma separated sting of all the courseId of the courses enroleed / teaching)</p>

<div class="container mar">
    <div class="row">
        <div>
            <form>
                <div class="form-group">
                    <label for="single">File</label>
                    <input #k type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" />
                </div>
            </form>
        </div>
        <br>

    </div>

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th width="50%">Name</th>
                    <th>Size</th>
                    <th>Progress</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item.file.name }}</strong></td>
                    <td nowrap>{{ item.file.size/1024/1024 | number:'.2' }} MB</td>
                    <td>
                        <div class="progress" style="margin-bottom: 0;">
                            <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                        </div>
                    </td>
                    <td class="text-center">
                        <span *ngIf="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                        <span *ngIf="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span *ngIf="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                    </td>
                    <td nowrap>
                        <button type="button" class="btn btn-success btn-xs" (click)="item.upload(); k.value=''" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                            <span class="glyphicon glyphicon-upload"></span> Upload
                        </button>
                        <button type="button" class="btn btn-warning btn-xs" (click)="item.cancel()" [disabled]="!item.isUploading">
                            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
                        </button>
                        <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()">
                            <span class="glyphicon glyphicon-trash"></span> Remove
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>

    </div>
</div>