/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    background-color: rgb(72, 140, 179);
    background-repeat: no-repeat;
    background-attachment: fixed;
}